/*background index*/
.cuerpo {
    background-image: url(https://scontent.fepa10-2.fna.fbcdn.net/v/t39.30808-6/274593870_452494399956565_5069217846133669501_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=a26aad&_nc_ohc=WQxGX3WUeZQAX_RgGZx&_nc_ht=scontent.fepa10-2.fna&oh=00_AT_ci4rAIr04YvTvpIM6cLj1C_JqMLADlBivVmrH9qblIA&oe=6251367D);
    background-repeat: no-repeat;
    background-size: 101%;
    background-position: center;
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "img img img img"
        "footer footer footer footer"
        "textoo textoo textoo textoo";

}

@media screen and (max-width: 991.98px) {
    .cuerpo {
        display: grid;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "footer footer footer";
        background-color: black;
        grid-row: 0.5fr;
        grid-column: 1 fr;
        grid-column-gap: 1rem;

    }

    .nav ul {
        display: block
    }



    .redes {
        display: flex;
        flex-direction: row;
        align-items: row;
        background-color: blue;
        width: 30%;

    }

}



/*Background contacto*/
.cuerpoDos {
    background-image: url(https://scontent.faep9-2.fna.fbcdn.net/v/t1.6435-9/126139103_150262493513092_4252729721493622832_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=a26aad&_nc_ohc=frw866fGXpEAX9kFcbI&_nc_oc=AQktYwvku9fijurA_Wq2GR_n-C4bW2SsMpAgM0hdb0B9lKVtVJOlXuQ8Ki0btEVYY4U&_nc_ht=scontent.faep9-2.fna&oh=00_AT8ILgjWJVFJ-BY46SnxLmVfZQGkW8R_ESc7KDwzmORaHA&oe=6261C5CB);
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "imgs form form form"
        "footer footer footer footer"
        "textoo textoo textoo textoo";
}

/*Background Productos*/
.cuerpoTres {
    background-image: url(https://scontent.faep9-1.fna.fbcdn.net/v/t1.6435-9/132056615_176688287537179_2949603339212228884_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=a26aad&_nc_ohc=YJMb5-qW1dUAX9uSzU9&_nc_ht=scontent.faep9-1.fna&oh=00_AT_A_FC8ZhDnrtvz4WOLvqiXNAz7NpBrpAPbHzK7SSOq5w&oe=626285D2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "list list list list"
        "ima ima ima ima"
        "footer footer footer footer"
        "textoo textoo textoo textoo";
}

/*FAQ*/
.cuerpoCuatro {
    background-image: url(https://scontent.faep9-3.fna.fbcdn.net/v/t1.6435-9/125802426_149506990255309_6562757268441420652_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=a26aad&_nc_ohc=q9khIHqGl_QAX-nk1h2&_nc_ht=scontent.faep9-3.fna&oh=00_AT9AufSa3qBLUMYlCVVfA94oBvUk2WyDBmoaTHZ9c8ETPw&oe=625F6079);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: grid;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "preg preg preg"
        "footer footer footer"
        "textoo textoo textoo";
}

/*Acerca de*/
.cuerpoCinco {
    background-image: url(https://scontent.faep9-3.fna.fbcdn.net/v/t39.30808-6/217741777_308457231026950_1646908506822008588_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=a26aad&_nc_ohc=yksc8jaacn8AX-QrJ9j&tn=8a9Ymn6L9RdjLa41&_nc_ht=scontent.faep9-3.fna&oh=00_AT8B5Ve3Rut7pE1WqFAIu1L9gEV1ushe95E2s82_pY5Z_Q&oe=6240D65B);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "info info video"
        "footer footer footer"
        "textoo textoo textoo";


}

.logo {
    display: flex;
    flex-direction: row;
    width: 5%;
    border-style: inset;
    border-width: 0.5rem;
    grid-area: header;
    transition: all 2s;
}

.logo:hover {
    transform: rotate(360deg);

}

/*index */
.imagenesUno {
    margin-left: 9rem;
    width: 18.75rem;
    height: 15.625rem;
    border-radius: 1.5625rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 3.125rem;
    margin-top: 0.625rem;
    grid-area: img;
    transition: all 2s;

}

.trans:hover {
    transform: scale(1.3);
    border: 1rem;

}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: xx-large;
    font-style: italic;
    font-family: serif;
    color: lavenderblush;
    grid-area: header;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    list-style-type: none;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-display: inherit;
    color: lavenderblush;
    grid-area: nav;
    padding: 0%;
    margin: 0%;
    margin-bottom: 3.125rem;
}


nav li a {
    display: block;
    padding: 0.5em 1em;
    text-align: center;
    margin-left: 7.5rem;

}


/*fin index*/
footer {

    grid-area: footer;
}

.redes {
    font-style: oblique;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 8.5rem;
    margin-top: 10rem;
    color: lavenderblush;
    grid-area: footer;
    border-radius: 1.5625rem;
    flex-wrap: wrap;
    transition: all 1s;
    
}

.redes:hover {

    transform: scale(1.2);
    animation: change 3s ease-in;
}

@keyframes change {



    25% { opacity: 75%;
    border-style: dashed;
    border-color: darkgoldenrod;

    
    }

    50% {
        opacity: 50%;

    
    }

    100% {  opacity:  25%;

    }
}

.texto-a {
    display: block;
    color: lavenderblush;
    text-align: center;

}

/* fin de index*/
/*contacto*/
.formulario {
    grid-area: form;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-top: 5rem;
    margin-right: 25rem;
    border: 100%;
    border-style: groove;
}

.imagenesDos {
    display: flex;
    flex-direction: column;
    width: 20%;
    grid-area: imgs;
    margin-left: 2rem;
    transition: all 3s;
    border-radius: 1rem;

}

.imga {
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.imgb {
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.imgc {
    border-radius: 1rem;

}


/*productos horientacion horizontal o verticar a definir, corregir la posicion de los t*/



.listados {

    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-area: list;
    align-content: stretch;
    padding-left: 2.5rem;
    margin-left: 0%;

}

.imagenesTres {
    grid-area: ima;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.5625rem;
    transition: all 1s;

}

.imagenesTres:hover{

    transform: scale (0.75);
}

.remeras {

    display: flex;
    flex-direction: row;

}

.bikers {
    display: flex;
    flex-direction: row;


}

.abrigos {
    display: flex;
    flex-direction: row;

}

.bijouterie {
    display: flex;
    flex-direction: row;

}

.productos {
    display: flex;
    width: 15.625rem;
    height: 15.625rem;

}

/*FAQ agregar preguntas sin tapar el background*/
.preguntas {
    text-align: left;
    font-size: large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-area: preg;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    margin-left: 3.125rem;

}

/*Buscar una fuerte mas apropiada*/
.acercaText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-stretch: expanded;
    grid-area: info;
    text-align: left;
    width: 75%;
    margin-left: 4.0625rem;
    margin-top: 2.5rem;

}

.video {
    overflow: visible;
    grid-area: video;
    margin-left: -15.625rem;
    margin-top: 2.5rem;

}